extends layout

block content
    div(class='container')
        div(class='row')
            div(class='col-md-9')
                h1= 'Guides viewer'
                each guide in guides
                    div(class='panel panel-default')
                        div(class='panel-heading')
                            h2(class='panel-title')
                                a(href=guide.guide_href)= guide.name
                        div(class='panel-body')
                            h3(class='lead') NLTK generated summary of this guide
                            div= guide.summary
                            h3(class='lead') References in this guide (identified by RegEx)
                            div
                                each reference in guide.references
                                    span= reference + ' '
                            h3(class='lead') NLTK identified trigrams
                            div
                                each trigram in guide.trigrams
                                    ul(class='list-group')
                                        li(class='list-group-item')= trigram[0]
                                            span(class='badge')= trigram[1]
                            h3(class='lead') NLTK identified bigrams
                            div
                                each bigram in guide.bigrams
                                    ul(class='list-group')
                                        li(class='list-group-item')= bigram[0]
                                            span(class='badge')= bigram[1]