extends layout

block content
    div.container
        h1= 'Guides viewer'
        div.row
            div.col-md-3
                ul.nav.nav-pills.nav-stacked
                    each guide in guides
                        li
                            a(href='#' + guide.name.toLowerCase().split(' ').join('-'))= guide.name
            div.col-md-9
                each guide in guides
                    div.panel.panel-default
                        div.panel-heading
                            h2.panel-title(id=guide.name.toLowerCase().split(' ').join('-'))
                                a(href=guide.guide_href)= guide.name
                        div.panel-body
                            h3.lead NLTK generated summary of this guide
                            div= guide.summary
                            h3.lead References in this guide (identified by RegEx)
                            div
                                each reference in guide.references
                                    span= reference + ' '
                            h3.lead NLTK identified trigrams
                            div
                                each trigram in guide.trigrams
                                    ul.list-group
                                        li.list-group-item= trigram[0]
                                            span.badge= trigram[1]
                            h3.lead NLTK identified bigrams
                            div
                                each bigram in guide.bigrams
                                    ul.list-group
                                        li.list-group-item= bigram[0]
                                            span.badge= bigram[1]